<link rel="stylesheet" href="/css/header.css">
 

   
    
        <div class="topnav">
        <a href="/"  class="home">Home</a>

            <a href="#">Users</a>
           
            <a href="#" class="user">
                <%= locals.user.email %>
            </a>
      
            <a href="/sign-out" class="signout">Sign Out</a>
        </div>
       
    
    